/* 按钮基本样式 */
#scroll-buttons button {
    background-color: #4547497e;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 3px 8px;
    cursor: pointer;
    margin: 10px;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
    position: fixed;
  }
  
  /* 左下角定位 */
  #scroll-to-top {
    left: 20px;
    bottom: 60px;
    z-index: 1000; /* 设置按钮的层叠顺序，较大的值会使按钮位于更上层 */
      /* 添加百分比字体样式 */
    font-size: 5px; /* 设置字体大小，根据需要调整 */
    color: #333; /* 设置字体颜色，根据需要调整 */
  }
  
  #scroll-to-bottom {
    left: 20px;
    bottom: 10px;
    z-index: 1000; /* 设置按钮的层叠顺序，较大的值会使按钮位于更上层 */
    font-size: 5px; /* 设置字体大小，根据需要调整 */
    color: #333; /* 设置字体颜色，根据需要调整 */
  }
  
  /* 按钮悬停效果 */
  #scroll-buttons button:hover {
    background-color: #5b97d8b2;
    transform: scale(1.05);
  }
  